.basket-row {
	border-bottom: 1px solid #000;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-align-items: center;
    align-items: center;
    & > * {
    	flex: 1;
    	-webkit-flex: 1;
    }
}

.empty-basket {
	margin-top: 50px;
}