//variables
@import "./variables/_padding_size.scss";
@import "./variables/_colors.scss";

//mixins
@import "./mixins/_border_radius.scss";


.cookies {
    padding-left: $paddingLR;
    padding-right: $paddingLR;
    padding-top: $paddingTB;
    padding-bottom: $paddingTB;
    text-align: center;
    border-top: solid 1px $lightGreyWithBlue;
    width: 100%;
    z-index: 1000;
    position: fixed;
    bottom: 0;
    background-color: $white;
    height: 4vh;
    & > .cookies-confirm{
        @include border-radius(30px);
        color: $grey;
        background-color: $lightGrey;
        &:hover{
            background-color: $grey;
            color: $white;
            border-color: $white;
        }
    }
}