@import "./variables/_padding_size.scss";
@import "./mixins/_invert_filter.scss";
@import "./mixins/_pointer_cursor.scss";
@import "./mixins/_border_radius.scss";

$twitterColor: #4099FF;
$facebookColor: #3b5998;
$googlePlusColor: rgb(214, 45, 32);
$white: rgb(255, 255, 255);
$radius: 40px;
$border-size: 1px;

.footer-main {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 5vw;
	margin: auto;
	padding-left: $paddingLR;
    padding-right: $paddingLR;
    background-color: $white;
    z-index: 1000;
    .facebook {
    	@include pointer-cursor();
        @include border-radius($radius);
        border: solid $border-size $facebookColor;
        color: $facebookColor;
        background-color: $white;
    	:hover{
    		color: $white;
            background-color: $facebookColor;
    	}
    }
    .twitter {
    	@include pointer-cursor();
        @include border-radius($radius);
        border: solid $border-size $twitterColor;
        background-color: $white;
        color: $twitterColor;
    	:hover {
    		color: $white;
            background-color: $twitterColor;
    	}
    }
    .google-plus{
    	@include pointer-cursor();
        @include border-radius($radius);
        border: solid $border-size $googlePlusColor;
        color: $googlePlusColor;
        background-color: $white;
    	:hover {
    		color: $white;
            background-color: $googlePlusColor;
    	}
    }
}