//mixins
@import "./mixins/_invert_filter.scss";
@import "./mixins/_border_radius.scss";
@import "./mixins/_social_media_button.scss";

//variables
@import "./variables/_colors.scss";
@import "./variables/_padding_size.scss";

$radius: 40px;

.footer-main {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 5vw;
	margin: auto;
	padding-left: $paddingLR;
    padding-right: $paddingLR;
    background-color: $white;
    z-index: 1000;
    .facebook {
        @include border-radius($radius);
        @include social-media-button($facebookColor)
    }
    .twitter {
        @include border-radius($radius);
        @include social-media-button($twitterColor)
    }
    .google-plus{
        @include border-radius($radius);
        @include social-media-button($googlePlusColor)
    }
}