//variables
@import "./variables/_padding_size.scss";
@import "./variables/_colors.scss";

.navbar-brand {
	&.title {
		font-size: 30px;
	}
}

.main-view{
	width: 100%;
	height: 50vw;
	top: 6vw;
	position: absolute;
	padding-left: $paddingLR;
    padding-right: $paddingLR;
    background-color: $white;
}

.table {
	display: table;
	& > * {
		display: table-row;
		text-align: center;
	}
	.counter {
		background: #d6dae2;
	    border-radius: 3px;
	    color: #fff;
	    font-size: 11px;
	    height: 20px;
	    line-height: 20px;
	    max-width: 30px;
	    min-width: 20px;
	    text-align: center;
	    z-index: 1;
	    position: absolute;
    	top: 5px;
    	left: 84%;
		.set{
			background-color: #0083f9;
		}
	}
}

a {
	color: $black !important;
	text-decoration: none !important;
	&:hover {
		text-decoration: none !important;
		color: $black !important;
	}
}

.list-book-conteiner {
	margin-top: 10px;
	width: 100%;
	.book {
		display: -webkit-flex;
	    display: flex;
	    -webkit-flex-direction: row;
	    flex-direction: row;
		border: 1px solid #000;
	    border-radius: 20px;
	    -webkit-border-radius: 20px;
	    padding: 10px;
	    margin-bottom: 10px;
	    -webkit-align-items: center;
    	align-items: center;
	    .stars {
	    	position: relative;
    		left: 75%;
    		span {
    			color: #FFF;
			    position: relative;
			    top: -10px;
			    right: 38px;
			    font-size: 30px;
    		}
	    }
	    .title{
	    	position: relative;
    		left: 30%;
    		font-size: 22px;
	    }
	    img {
	    	width: 100px;
    		height: 100px;
    		position: relative;
    		left: 10px;
	    }
	}
}