//variables
@import "./variables/_padding_size.scss";
@import "./variables/_colors.scss";

.main-view{
	width: 100%;
	height: 50vw;
	top: 6vw;
	position: absolute;
	padding-left: $paddingLR;
    padding-right: $paddingLR;
    background-color: $white;
}