//variables
@import "./variables/_padding_size.scss";
@import "./variables/_colors.scss";

.navbar-main {
	position: fixed;
	width: 100%;
	height: 6vw;
	padding-left: $paddingLR;
	padding-right: $paddingLR;
	z-index: 1000;
	background-color: $white;
}

a:hover {
	text-decoration: none;
}