@import "./variables/_padding_size.scss";

.navbar-main {
	position: fixed;
	width: 100%;
	height: 6vw;
	padding-left: $paddingLR;
	padding-right: $paddingLR;
	z-index: 1000;
	background-color: rgb(255, 255, 255);
}

a:hover {
	text-decoration: none;
}