<div class="container-fluid logowanie-main" ng-if="!isLogged">
	<label>Logowanie</label>
	<div class="row">
		<div class="input-group">
			<input type="text" placeholder="Login" class="form-control" ng-model="currentUser.login"/>
			<span class="input-group-addon">@</span>
			<input type="text" placeholder="Domena" class="form-control" ng-model="currentUser.domain"/>
		</div>
	</div>
	<div class="row">
		<input type="password" placeholder="Hasło" class="form-control" ng-model="currentUser.password"/>
	</div>
	<div class="row">
		<input type="submit" value="Zaloguj" class="btn btn-success" ng-click="login()"/>
	</div>
</div>