$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "components-font-awesome/scss/font-awesome.scss";
// endbower

//custom css
@import "./custom_css/_cookies.scss";
@import "./custom_css/_footer.scss";
@import "./custom_css/_main.scss";
@import "./custom_css/_nav.scss";
@import "./custom_css/_logowanie.scss";
@import "./custom_css/_contact_dialog.scss";
//end custom css
html, body { height: 100%; margin: 0; padding: 0; }
  #map { height: 100%; }